body,iframe,pre{
    padding: 0;
    margin: 0;
}
.header{
    text-align: center;
    line-height: 60px;
    background: darkorange;
    color: blue;
    font-size: 30px;
}
.txt{
    width: 600px;
    text-indent: 1em;
    text-align: left;
    word-break: break-all;
}
mark{
    background: #eee;
    padding: 0 4px;
}
pre{
    background: bisque;
    line-height: 2;
    text-align: left;
    white-space: pre-line;
    padding-left: 20px;
}
table{
    width: 800px;
    border: 1px solid #ddd;
    border-collapse: collapse;
}
th,td{
    border: 1px solid #ddd;
    padding: 10px;
    word-break: break-all;
}
tr:nth-of-type(2n){
    background: #f8f8f8;
}